* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.accordion-section {
  margin-top: 30px;
}
.accordion {
  width: 200px;
  margin: 0 auto;
}
.menu {
  background-color: purple;
  color: white;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.menu:hover,
.menu:active,
.menu.is-active {
  background-color: black;
}
.contents {
  text-align: center;
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-duration: 0.4s;
}
 
.contents.is-open {
  border: 1px solid black;
  padding: 10px;
  line-height: normal;
  height: auto;
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content{
  background-color: white;
  width: 500px;
  margin: 40% auto;
  }
  .btn-p{
    text-align: center;
  }

h1{
  color: black;
}
.stroke{
  letter-spacing: .1em;
  background-color: #D9BCB8;

}

<section accordion-section">
    <div accordion">
      <p menu js-menu">メニュー1</p>
      <div contents">コンテンツ1</div>

      <p menu js-menu">メニュー2</p>
      <div contents">コンテンツ2</div>

      <p menu js-menu">メニュー3</p>
      <div contents">コンテンツ3</div>
    </div>
  </section>
